image: microsoft/dotnet:latest
stages:
- build
- unit-test
- integration-test
before_script:
- 'dotnet restore'
build_job:
  stage: build
  script:
  - 'dotnet build'
  only:
  - master
  artifacts:
    untracked: true
unit_job:
  stage: unit-test
  script:
  - 'find -wholename **/bin/Debug/*Test.Unit.dll | xargs dotnet vstest'
  only:
  - master
  dependencies:
  - build_job
integration_job:
  variables:
    KAFKA_CREATE_TOPICS: "hello-topic:1:1,diff-topic:1:1:compact"
  services:
  - spotify/kafka
  stage: integration-test
  script:
  - 'dotnet .\Subscriber\bin\Debug\netcoreapp2.0\Kafka.Diff.Subscriber.dll -- --gitlab'
  - 'dotnet .\Publisher\bin\Debug\netcoreapp2.0\Kafka.Diff.Publisher.dll -- --gitlab'
  - 'dotnet vstest .\Test.Integration\bin\Debug\netcoreapp2.0\Kafka.Diff.Test.Integration.dll'
  dependencies:
  - build_job
